<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->

	<title>Fairtech</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Template Basic Images Start -->
	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="img/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png">
	<!-- Template Basic Images End -->

	<!-- Custom Browsers Color Start -->
	<meta name="theme-color" content="#000">
	<!-- Custom Browsers Color End -->

	<link rel="stylesheet" href="css/main.min.css" media="all">

</head>

<body id="isHome">

	<header class="header" id="company">
		<div class="container">
			<div class="header__top">
				<img class="header__logo" src="img/new/Frame 2290.svg" alt="logo">
				<div class="header__menu menu">
					<div class="menu__icon icon-menu">
						<span></span>
						<span></span>
						<span></span>
					</div>
					<div class="menu__body">
						<nav class="menu__nav">
							<ul class="menu__list">
								<li class="menu__item"><a href="#company" class="menu__link to-company active">О компании</a></li>
								<li class="menu__item"><a href="#decisions" class="menu__link to-decisions">Услуги</a></li>
								<li class="menu__item"><a href="#vacancies" class="menu__link to-vacancies">Вакансии</a></li>
								<li class="menu__item"><a href="#contacts" class="menu__link to-contacts">Контакты</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="header__phone">
					<div class="phone">
						<img src="img/phone.svg" alt="">
						<a href="tel:88000000000" class="phone__number">+7 931 300 99 24</a>
					</div>
				</div>
			</div>
			<div class="header__content">
				<div class="header__info">
					<h1 class="header__title">Современные digital решения для вашего бизнеса</h1>
					<p class="header__descr">
					Мы полносервисная digital-компания с 10-летним опытом. Разрабатываем, интегрируем и продвигаем web-проекты разной масштабности и для разных отраслей. Помогаем решать задачи вашего бизнеса, больше зарабатывать и повышать лояльность клиентов.
					</p>
					<a href="#" class="header__button btn">Подробнее</a>
				</div>
				<div class="header__image">
					<img src="img/new/IMG/10.svg" alt="">
				</div>
			</div>
		</div>
	</header>

	<main>
		<section class="advantages">
			<div class="container">
				<h2 class="advantages__title title title--white">Цены</h2>
				<div class="advantages__slider slider">
					<div class="advantages__items">
						<div class="advantages__item item">
							<img src="img/advantages/icon1.svg" alt="" class="item__image">
							<p class="item__text">
								<kbd>15 000 ₽ +</kbd></h3> <p class="decisions__info-text">
<strong>Конструктор</strong></h3> <p class="decisions__info-text">
Разработка сайта на CMS конструкторе: Tilda, Webflow и пр.<br>
•Лендинг/сайт визитка<br>
•Дефолтный шаблон<br>

							</p>
						</div>
						<div class="advantages__item item">
							<img src="img/advantages/icon2.svg" alt="" class="item__image">
							<p class="item__text"> <kbd>30 000 ₽ +</kbd></h3> <p class="decisions__info-text">

<strong>Базовый</strong></h3> <p class="decisions__info-text">
For most businesses that want to otpimize web queries<br>

•Лендинг/сайт визитка<br>
•Дефолтный шаблон<br>
•Дефолтная cms<br> </p>
						</div>
						<div class="advantages__item item">
							<img src="img/advantages/icon3.svg" alt="" class="item__image">
							<p class="item__text"> <kbd>65 000 ₽ +</kbd></h3> <p class="decisions__info-text">

<strong>Расширенный</strong></h3> <p class="decisions__info-text">
For most businesses that want to otpimize web queries<br>

•Лендинг/сайт визитка<br>
•Дополнительные 3-5 страниц<br>
•Уникальный дизайн<br>
•Дефолтная cms<br>
•3-5 функций cms на ваш выбор<br></p>
						</div>
						<div class="advantages__item item">
							<img src="img/advantages/icon4.svg" alt="" class="item__image">
							<p class="item__text">  <kbd>100 000 ₽ +</kbd></h3> <p class="decisions__info-text">

<strong>Продвинутый</strong></h3> <p class="decisions__info-text">
For most businesses that want to otpimize web queries<br>

•Многостраничный сайт<br>
•Дефолтная cms<br>
•Интеграции<br>
•Статистика<br>
•Дэшборды<br>
•SEO продвижение<br>
•Индивидуальный подход<br> </p>
						</div>
						<div class="advantages__item item">
							<img src="img/advantages/icon5.svg" alt="" class="item__image">
							<p class="item__text"> <kbd>10 000 ₽ +</kbd> </h3> <p class="decisions__info-text">
<strong>Web-design</strong></h3> <p class="decisions__info-text">
• Разработка логотипа<br>
• Разработка дизайна <br>
• Разработка эксклюзивного шрифта
и пр.<br> </p>
						
						</div>
					</div>
					<div class="slider__arrow"></div>
				</div>
			</div>
		</section>

		<section class="decisions" id="decisions">
			<div class="container">
				<h2 class="decisions__title title">Услуги</h2>
				<div class="decisions__item">
					<div class="decisions__info">
						<h3 class="decisions__info-title">Разработка и поддержка сайтов</h3>
						<p class="decisions__info-text">
							— Разработка технически сложных проектов и сайтов, поддержка<br>
							— Проектирование и прототипирование сайтов и интерфейсов<br>
							— Премиальный дизайн, анимация и графические решения<br>
							— Веб-интеграция с существующими системами<br>
							— Аналитика и проектирование<br>
							— Дизайн-поддержка<br>
							— Back- и frontend разработка<br>
						</p>
					</div>
					<img class="decisions__image" src="img/new/IMG/1.svg" alt="">
				</div>
				<div class="decisions__item">
					<img class="decisions__image" src="img/new/IMG/9.svg" alt="">
					<div class="decisions__info">
						<h3 class="decisions__info-title">Дизайн</h3>
						<p class="decisions__info-text">
							—  Проектирование и прототипирование интерфейсов<br>
							— Разработка дизайна лендингов<br>
							— Иллюстрация<br>
							— Инфографика<br>
							— Иконки<br>
							— Анимация<br>
							— Брендинг<br>
							— Полиграфический дизайн<br>
							— Разработка логотипов
						</p>
					</div>
				</div>
				<div class="decisions__item">
					<div class="decisions__info">
						<h3 class="decisions__info-title">Комплексные услуги</h3>
						<p class="decisions__info-text">
							— Медийная реклама<br>
							— Контекстная реклама<br>
							— Продвижение в социальных сетях<br>
							— advertising with bloggers<br>
							— Таргет<br>
							— Премиальный дизайн и разработка технически сложных проектов для крупных компаний<br>
							— Поддержка проектов<br>
							— Вывод новых продуктов на рынок<br>
							— Разработка digital-стратегии, аналитика<br>
							— Usability и UI-дизайн						</p>
					</div>
					<img class="decisions__image" src="img/new/IMG/6.svg" alt="">
				</div>
			</div>
		</section>

		<section class="vacancies" id="vacancies">
			<div class="container">
				<div class="vacancies__row">
					<h2 class="vacancies__title title title--white">Реализованные Кейсы</h2>
					<ul class="vacancies__list">
						<li class="vacancies__item">
							<a href="#" class="vacancies__link">
								<h3 class="vacancies__link-title">https://ediweb.com/ru-ru</h3>
								<span class="vacancies__info">
									<span class="vacancies__info-text">3 этапа</span>
									<span class="vacancies__info-point">•</span>
									<span class="vacancies__info-text">4 месяца</span>
									<span class="vacancies__info-point">•</span>
									<span class="vacancies__info-text">Москва</span>
									
								</span>
							</a>
						</li>
						<li class="vacancies__item">
							<a href="#" class="vacancies__link">
								<h3 class="vacancies__link-title">http://tramis.ru/</h3>
								<span class="vacancies__info">
									<span class="vacancies__info-text">дизайн логотипа</span>
									<span class="vacancies__info-point">•</span>
									<span class="vacancies__info-text">разработка видео</span>
									<span class="vacancies__info-point">•</span>
									<span class="vacancies__info-text">сайт под ключ</span>
									<span class="vacancies__info-point">•</span>
									<span class="vacancies__info-text">5 месяцев</span>
								</span>
							</a>
						</li>
						<li class="vacancies__item">
							<a href="#" class="vacancies__link">
								<h3 class="vacancies__link-title">https://www.hermitagemuseum.org/</h3>
								<span class="vacancies__info">
									<span class="vacancies__info-text">гос.заказ</span>
									<span class="vacancies__info-point">•</span>
									<span class="vacancies__info-text">полносервисный SLA</span>
									<span class="vacancies__info-point">•</span>
									<span class="vacancies__info-text">Санкт-Петербург</span>
									<span class="vacancies__info-point">•</span>
									<span class="vacancies__info-text">3 месяца</span>
								</span>
							</a>
						</li>
					</ul>
					<div class="vacancies__message">
						<p class="vacancies__message-text">Если вы хотите такой же пиздатый сайт, как у ребят выше - просто напишите нам. <a class="vacancies__message-email" href="mailto:nikolay@asnagency.ru">info@asnagency.ru</a> или заполнить форму обратной связи</p>
			
						<p class="vacancies__message-text">Ваши клиенты охуеют и вы в считаные месяцы станете миллиардером. Бля будем.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="response">
			<div class="container">
				<div class="response__row">
					<h2 class="response__title">Хочу сайт с крутым дизайном</h2>
					<h3 class="response__subtitle">Расскажите нам о проекте и мы обязательно свяжемся с вами</h3>
					<form class="vacancy__form">
						<div class="vacancy__form-wrap">
							<div class="vacancy__form-col">
								<div class="vacancy__form-item">
									<div class="vacancy__form-label">Как вас зовут</div>
									<input type="text" class="vacancy__form-input" placeholder="ФИО" required>
								</div>
							</div>
							<div class="vacancy__form-col">
								<div class="vacancy__form-item">
									<div class="vacancy__form-label">Ваш e-mail</div>
									<input type="text" class="vacancy__form-input" placeholder="Введите e-mail" required>
								</div>
							</div>
						</div>
						<div class="vacancy__form-wrap">
							<div class="vacancy__form-col">
								<div class="vacancy__form-item">
									<div class="vacancy__form-label">Услуга</div>
									<input type="text" class="vacancy__form-input" placeholder="Введите нужную услугу - сайт/дизайн/логотип и пр.">
								</div>
							</div>
							<div class="vacancy__form-col">
								<div class="vacancy__form-item">
									<div class="vacancy__form-label">Моб. телефон</div>
									<input type="text" class="vacancy__form-input phone" required>
								</div>
							</div>
						</div>
						<div class="vacancy__dropzone">
							<div class="vacancy__dropzone-label">
								<div class="vacancy__dropzone-title">Прикрепить пример понравившихся проектов</div>
							</div>
							<div class="vacancy__dropzone-body">
								<div class="vacancy__dropzone-message">
									<div class="vacancy__dropzone-input">
										<input type="file" name="file" class="file-upload-input input"
											onchange="readURL(this);" accept=".pdf,.docx,.doc">
									</div>
									<div class="vacancy__dropzone-message-title">
										Перетащите файлы сюда или нажмите (pdf,jpg,doc)
									</div>
								</div>
								<div class="vacancy__dropzone-upload">
									<div class="vacancy__dropzone-upload-message">
										<img class="vacancy__dropzone-upload-image" src="img/check.svg" alt="Файл загружен">
										<div class="vacancy__dropzone-upload-message-text">Ваше резюме загружено</div>
									</div>
									<div class="vacancy__dropzone-upload-remove-wrap">
										<button type="button" onclick="removeUpload()"
											class="vacancy__dropzone-upload-remove">Удалить <span
												class="vacancy__dropzone-upload-title">Uploaded Image</span></button>
									</div>
								</div>
							</div>
						</div>
						<div class="vacancy__dropzone-link">
							<label for="dropzone-link" class="vacancy__dropzone-link-label label">Или вставьте ссылку на понравившиеся web-проекты</label>
							<input type="text" name="dropzone-link" id="dropzone-link" class="dropzone-link vacancy__dropzone-link-input">
						</div>
						<div class="accept">
							<input type="checkbox" id="accept__privacy">
							<label for="accept__privacy">Я согласен с условиями обработки и использования моих персональных данных</label>
						</div>
						<button class="vacancy__btn btn btn--dark-blue">Отправить</button>
					</form>
				</div>
			</div>
		</section>

		<section class="contacts" id="contacts">
			<div class="container">
				<div class="contacts__row">
					<div class="contacts__box">
						<h2 class="contacts__title title">ASN agency</h2>
						<div class="contacts__name">Контакты</div>
						<a class="contacts__link" href="www.fairtech.ru">www.asnagency.ru</a>
						<div class="contacts__info">
							<div class="contacts__addr contacts__location"> г. Санкт-Петербург. г. Калининград.</div>
							<div class="contacts__addr contacts__phone">тел.: <a href="tel:+74950000000">+7 931 300-99-24</a></div>
							<div class="contacts__addr contacts__mail">email: <a href="mailto:support@fairtech.ru">info@asnagency.ru</a></div>
						</div>
					</div>
					<div class="contacts__map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.4016758768034!2d37.61291560562487!3d55.768895309925846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a41d81e0031%3A0x31441cbfd54a6c2b!2zMS3QuSDQmtC-0LvQvtCx0L7QstGB0LrQuNC5INC_0LXRgC4sIDYg0YHRgtGA0L7QtdC90LjQtSAzLCDQnNC-0YHQutCy0LAsIDEyNzA1MQ!5e0!3m2!1sru!2sru!4v1616511329803!5m2!1sru!2sru" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</div>
				</div>
			</div>
		</section>
	</main>

	<footer class="footer">
		<div class="container">
			<div class="footer__row">
				
				<div class="footer__box">
					<div class="footer__info">
						<div class="footer__addr footer__contacts">Контакты</div>
						<div class="footer__addr footer__mail">email: <a href="mailto:info@fairtech.ru">info@asnagency.ru</a></div>
						<div class="footer__addr footer__phone">phone: <a href="tel:+88888898888">+7 931 300-99-24</a></div>
					</div>
					<div class="footer__menu">
						<div class="footer__col">
							<a href="#company" class="footer__link to-company">О компании</a>
							<a href="#decisions" class="footer__link to-decisions">Услуги</a>
						</div>
						<div class="footer__col">
							<a href="#vacancies" class="footer__link to-vacancies">Вакансии</a>
							<a href="#contacts" class="footer__link to-contacts">Контакты</a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer__copyright">© asnagency.ru  Все права защищены.</div>
		</div>
	</footer>



	<script src="js/scripts.min.js"></script>

</body>

</html>